In [1]:
import os
import zipfile
import glob

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# zip 설치
!pip install unzip

In [ ]:
# zip파일 저장하는곳
!unzip ./okchart/chart_data.zip -d ./team_1_data/data/okchart

In [ ]:
# zip파일 풀기 
zipfile.ZipFile('/home/team_1/okchart/chart_data.zip').extractall('./okchart/')

In [ ]:
dirname = glob.glob('./okchart/chart_data/*/*/*/*')
dirname
output = sorted(glob.glob('./okchart/chart_data2/*/*/*/*/*.zip'))
output

In [ ]:
# output을 원하는곳에 압축풀기

for x in output:
    #print('/'.join(x.split('/')[:4]))
    path = '/'.join(x.split('/')[:7])
    #print(path)
    zipfile.ZipFile(x).extractall(path)

In [2]:
cart_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/*.txt'))
not_insu_item_disease_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/NotInsuItemDisease2Px.txt'))
not_insu_px = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/NotInsuPx.txt'))
custcarinsuinfo_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/custcarinsuinfo.txt'))
customer_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/customer.txt'))
detail_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/detail.txt'))
receipt_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/receipt.txt'))
reservaion_paths = sorted(glob.glob('../../okchart/chart_data2/*/*/*/*/reservation_new.txt'))

In [4]:
# 칼럼 정의
custcarinsuinfo_columns = ['id', 'custpk', 'startdate']
customer_columns = ['id', 'customer_pk', 'reg_date', 'suggest']
detail_columns = ['id', 'customer_pk', 'sn', 'Txdate', 'Txitem', 'Dxname', 'Pxcode', 'Pxname', 'Insuyes', 'Txmoney', 'etcinsumark']
receipt_columns = ['id', 'customer_pk', 'Txdate', 'calcu_type', 'bonin_money', 'cheonggu_money', 'general_money']
reservation_columns = ['id', 'res_customer_pk', 'res_date', 'res_canceled', 'res_visited']

In [5]:
def create_df(path_list,col_list):
    df_list = []
    for path in path_list:
        df_temp = pd.read_csv(path, sep = '\t', names = col_list, low_memory = False)        
        df_list.append(df_temp)
    df = pd.concat(df_list)
    df = df.drop_duplicates()
    return df

In [6]:
%%time
custcarinsuinfo_df = create_df(custcarinsuinfo_paths, custcarinsuinfo_columns)
customer_df = create_df(customer_paths, customer_columns)
detail_df = create_df(detail_paths, detail_columns)
receipt_df = create_df(receipt_paths, receipt_columns)
reservation_df = create_df(reservaion_paths, reservation_columns)

CPU times: user 1min 16s, sys: 44.3 s, total: 2min 1s
Wall time: 2min 12s

In [7]:
display(custcarinsuinfo_df.head())
display(customer_df.head())
display(detail_df.head())
display(receipt_df.head())
display(reservation_df.head())

                         id custpk   startdate
0  619dd27d54bfcb65d02733ff   6473  2022-04-25
1  619dd27d54bfcb65d02733ff   5344  2022-04-26
2  619dd27d54bfcb65d02733ff   6478  2022-04-26
3  619dd27d54bfcb65d02733ff   6495  2022-05-04
4  619dd27d54bfcb65d02733ff   1635  2022-05-09

                         id  customer_pk    reg_date suggest
0  619dd27d54bfcb65d02733ff         6468  2022-04-22      소개
1  619dd27d54bfcb65d02733ff         6472  2022-04-25  네이버검색.
2  619dd27d54bfcb65d02733ff         6473  2022-04-25    지인소개
3  619dd27d54bfcb65d02733ff         6475  2022-04-25    회사근처
4  619dd27d54bfcb65d02733ff         6478  2022-04-26     NaN

,id,customer_pk,sn,Txdate,Txitem,Dxname,Pxcode,Pxname,Insuyes,Txmoney,etcinsumark
0,619dd27d54bfcb65d02733ff,6466,1458,2022-04-21,보험치료,요추의 염좌 및 긴장,40012,경혈이체,1,4710,NaN
1,619dd27d54bfcb65d02733ff,6466,1458,2022-04-21,보험치료,요추의 염좌 및 긴장,40070,척추침술,1,3770,NaN
2,619dd27d54bfcb65d02733ff,6466,1458,2022-04-21,보험치료,"관절통, 손목관절",40060,관절강침술,1,3670,NaN
3,619dd27d54bfcb65d02733ff,6466,1458,2022-04-21,보험치료,요추의 염좌 및 긴장,40091,침전기자극술,1,3220,NaN
4,619dd27d54bfcb65d02733ff,6466,1458,2022-04-21,보험치료,요추의 염좌 및 긴장,40307,기기구술,1,3380,NaN

,id,customer_pk,Txdate,calcu_type,bonin_money,cheonggu_money,general_money
0,619dd27d54bfcb65d02733ff,3139,2022-07-05,B,0,63700,0
1,619dd27d54bfcb65d02733ff,7629,2022-07-05,1,48100,46520,15000
2,619dd27d54bfcb65d02733ff,7620,2022-07-05,B,0,77750,0
3,619dd27d54bfcb65d02733ff,7619,2022-07-05,B,0,77520,0
4,619dd27d54bfcb65d02733ff,5374,2022-07-05,1,48100,46520,0

,id,res_customer_pk,res_date,res_canceled,res_visited
0,619dd27d54bfcb65d02733ff,175,2022-04-21,0,1
1,619dd27d54bfcb65d02733ff,1483,2022-04-23,0,0
2,619dd27d54bfcb65d02733ff,6381,2022-04-21,0,1
3,619dd27d54bfcb65d02733ff,5342,2022-04-20,0,1
4,619dd27d54bfcb65d02733ff,6437,2022-04-21,0,1

In [8]:
display(custcarinsuinfo_df.info())
display(customer_df.info())
display(detail_df.info())
display(receipt_df.info())
display(reservation_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21800 entries, 0 to 21
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         21800 non-null  object
 1   custpk     21800 non-null  object
 2   startdate  21800 non-null  object
dtypes: object(3)
memory usage: 681.2+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283747 entries, 0 to 172
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           283747 non-null  object
 1   customer_pk  283747 non-null  int64
 2   reg_date     283747 non-null  object
 3   suggest      80768 non-null   object
dtypes: int64(1), object(3)
memory usage: 10.8+ MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10501158 entries, 0 to 16289
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   id           object
 1   customer_pk  int64
 2   sn           object
 3   Txdate       object
 4   Txitem       object
 5   Dxname       object
 6   Pxcode       object
 7   Pxname       object
 8   Insuyes      int64
 9   Txmoney      int64
 10  etcinsumark  float64
dtypes: float64(1), int64(3), object(7)
memory usage: 961.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448412 entries, 0 to 1687
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1448412 non-null  object
 1   customer_pk     1448412 non-null  int64
 2   Txdate          1448412 non-null  object
 3   calcu_type      1446547 non-null  object
 4   bonin_money     1448412 non-null  int64
 5   cheonggu_money  1448412 non-null  int64
 6   general_money   1448412 non-null  int64
dtypes: int64(4), object(3)
memory usage: 88.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616091 entries, 0 to 309
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               616091 non-null  object
 1   res_customer_pk  616091 non-null  int64
 2   res_date         616091 non-null  object
 3   res_canceled     616091 non-null  int64
 4   res_visited      616091 non-null  int64
dtypes: int64(3), object(2)
memory usage: 28.2+ MB

None